doctype html
html(class="no-js")
    head
        block title
            title Default
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="css/app.css" rel="stylesheet")
        block custom_includes
    body
        block navigation
            include navigation.jade
        block content
            div
                h1 Hello World
        block custom_footer_includes
