doctype html
html(class="no-js" ng-app="app")
    head
        block title
            title Default

        include header.jade

        block custom_includes

    body
        block content
            div
                h1 Hello World
