extends common/layout.jade

block title
    title Admin

block custom_includes
    script(src="js/admin.js")
    script(src="js/services/treatment.factory.js")
    script(src="js/directives/autocomplete.directive.js")

block content
    .pure-g(admin-form)
        h1.pure-u-1 Hello Admin


        admin-form
        //include form.jade
