extends common/index.layout.jade

block title
    title Take pill admin

block custom_includes
    script(src="js/admin/admin.js")
    script(src="js/admin/services/treatment.factory.js")
    script(src="js/admin/services/authentication.factory.js")
    script(src="js/admin/components/adminform.component.js")
    script(src="js/admin/components/loginform.component.js")

block content
    div(ui-view)