extends common/admin.layout.jade

block title
    title Admin

block custom_includes
    script(src="js/admin/admin.js")
    script(src="js/admin/services/treatment.factory.js")
    script(src="js/admin/components/adminform.component.js")

block content
    .pure-g(admin-form)
        h1.pure-u-1 Hello Admin

        admin-form
