/* Lib */

@import "../../bower_components/pure/pure.css";

/* App specific styles */
.content {
    padding: 20px;
}

.admin table.pure-table {
    min-width: 643px;
    margin-bottom: 10px;
}

.admin table.pure-table td {
    width: 50%;
}

.new-treatment {
    background-color: aliceblue;
    margin: 10px 0 23px;
    padding: 5px;
    border-radius: 5px;
    width: 643px;
    box-sizing: border-box;
}